.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.item {
  
}

.link {
  padding: 5px;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #b72f2b;
  background-color: #505050;
  border: 2px solid #b72f2b;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  transition: background-color 100ms linear, box-shadow 100ms linear,
    color 100ms linear;
}

.item:nth-child(-n+2) .link{
    padding-bottom: 11px;
}
.item:nth-last-child(-n+2) .link{
    padding-bottom: 11px;
}

.item:nth-child(-n+1) .link{
    padding-bottom: 10px;
}
.item:nth-last-child(-n+1) .link{
    padding-bottom: 10px;
}

.activeLink {
  background-color: #d82923;
  border: 2px solid #d82923;
  color: #fcfcfc;
}

.link:hover,
.link:focus {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  background-color: #b72f2b;
  border: 2px solid #b72f2b;
  color: #fcfcfc;
}

.disabled .link {
  color: #bdbdbd;
  border: 2px solid #bdbdbd;
  background-color: #505050;
  cursor: auto;
}

.disabled .link:hover,
.disabled .link:focus {
  color: #bdbdbd;
  background-color: #505050;
  box-shadow: none;
}
