@import-normalize;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #505050;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
  padding-top: 70px;

}

.bodyWrap{
  padding: 30px;
  /* padding-top: 60px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.backBtn {
  position: fixed;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  top: 80px;
  right: 30px;
  cursor: pointer;
  color: #fff;
  padding: 7px 10px;
  background-color: #b72f2b;
  border: none;
  border-radius: 5px;
  transition: background-color 100ms linear, box-shadow 100ms linear;
}

.backBtn svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backBtn:hover,
.backBtn:focus {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  background-color: #d82923;
}

.loader {
  justify-content: center;
  display: block;
  margin: 0 auto;
}

/* a, p{
  font-family: 'Poppins';
} */

::-webkit-scrollbar {
  width: 10px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #d82923;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.swiperImg{
  width: 100px;
}
.swiper-horizontal{
  /* width: 1100px !important; */
  margin: 0 auto;

  margin-top: 50px;
}

.swiper-wrapper{
  /* width: 1100px !important; */
  margin: 0 auto;
  /* padding: 0 40px; */
}

.swiper-button-prev,
.swiper-button-next{
  color: #d82923 !important;
  opacity: 1;
}
